.passage-header{
    position: sticky;
    top:0;
    background-color: darkgray;
    height: 8%;
    width: 100%;
}
.img-back{
    float: left;
    position: relative;
    top: 5px;
    left: 5px;
    height: 80%;
    width: 13%;
    background-image: url("../icon/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}
 .page-title{
     font-size: 1.5em;
    display: inline-block;
    margin-left: 23%;
     margin-top: 3%;
}
 .always{
     width: 100%;
     height: 15%;
 }
.menu{
    width: 100%;
    height: 80%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch;
    padding: 10px 10px;
    background-color: #fff;
}
.menu::-webkit-scrollbar {  /*隐藏滚动条*/
display: none;
}
.item{
    margin: 0 10px;
    border: 1px solid grey;
    border-radius: 50%;
    width: 18%;
    height: 100%;
    display: inline-block;
    color: #666;
    text-decoration: none;
    background-image: url("../icon/dingyuehao.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.title-block {
    height: 26px;
    text-align: center;
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse nowrap;
    width: 360px;
    margin: 0 auto;
    font-size: 14px;
    color: #4C4C4C;
    line-height: 28px;
    border: 1px solid #999;
    padding: 10px;
}
.detail-img{
    border: 1px solid grey;
    border-radius: 5px;
    height: 120px;
}
.block > .detail {
    max-height: 163px;
    margin-bottom: 10px;
    overflow: hidden;
}

.block > .case-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 120px;
    height: 24px;
    margin: 0 auto 0;
    color: #0e0e0e;
    background: #fff;
    border: 1px solid #0e0e0e;
    border-radius: 5px;
}

.block > .case-block div:nth-of-type(1) {
    display: block;
}

.block > .case-block div:nth-of-type(2) {
    display: none;
}

.block > [type="checkbox"] {
    position: relative;
    display: block;
    width: 120px;
    height: 24px;
    margin: -24px auto 0;
    z-index: 1000;
    opacity: 0;
}

.block > [type="checkbox"]:hover + .case-block {
    background-color: #f5f5f5;
}

.block > [type="checkbox"]:checked + .case-block div:nth-of-type(1) {
    display: none;
}

.block > [type="checkbox"]:checked + .case-block div:nth-of-type(2) {
    display: block;
}

.block > [type="checkbox"]:checked + .case-block + .detail {
    max-height: inherit;
}
