.page-box{
    position: relative;
    width: 100%;
    height: 92%;
}
.page-box>div{
    height: 10%;
    border-bottom: #a8afb5 solid .5px;
}
.img-box{
    float: left;
    position: relative;
    top: 5px;
    left: 5px;
    height: 80%;
    width: 13%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: gray solid 1px;
}

.passage>.img-box{
    background-image: url("../icon/dingyuehao.svg");
}
.chat>.img-box{
    background-image: url("../icon/lianxirenmingdan.svg");
}
.chat>.img-box{
    background-image: url("../icon/qunliao.svg");
}
.wechat>.img-box{
    background-image: url("../icon/lianxirenmingdan.svg");
}

div .text-box{
    text-align: left;
    color: black;
    float: right;
    position: relative;
    top: 5px;
    height: 80%;
    width:80%;
}

.small{
    color: grey;
    display: inline-block;
    margin-top: 6px;
    font-size: .9em;
}
