.page-box2{
    position: relative;
    width: 100%;
    height: 92%;
}
.page-box2>div{
    height: 8%;
    border-bottom: #a8afb5 solid .5px;
}
.img-box2{
    float: left;
    position: relative;
    top: 5px;
    left: 5px;
    height: 80%;
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: gray solid 1px;
}

.passage2>.img-box2{
    background-image: url("../icon/dingyuehao.svg");
}
.chat>.img-box2{
    background-image: url("../icon/lianxirenmingdan.svg");
}
.chat>.img-box2{
    background-image: url("../icon/qunliao.svg");
}
.wechat>.img-box2{
    background-image: url("../icon/lianxirenmingdan.svg");
}

div .text-box2{
    text-align: left;
    color: black;
    float: right;
    position: relative;
    top: 5px;
    height: 80%;
    width:80%;
}

.text{
    color: black;
    display: inline-block;
    margin-top: 8px;
    font-size: 1em;

}